.class-view {
  .cluster {
    cursor: pointer;
    rect, circle, ellipse, polygon {
      fill: $graphBg;
      stroke: $graphBorder;
      transition: .3s all ease-in-out;
    }

    text {
      font-weight: 700;
      transition: .3s all ease-in-out;
    }

    &.highlighted {
      rect, circle, ellipse, polygon {
        fill: $highlightBg;
        stroke: $highlightEdge;
      }

      text {
        fill: #fff;
      }
    }

    &.selected {
      rect, circle, ellipse, polygon {
        stroke-width: 3px;
      }
    }
  }

  .node {
    .label {
      color: $graphText;
      transition: .7s all ease-in-out;
    }

    &.clickable {
      cursor: pointer;
    }

    &.highlighted {
      rect, circle, ellipse, polygon {
        fill: #fff;
        stroke: $highlightEdge;
        transition: .7s all ease-in-out;
      }
      .label {
        color: $highlightEdge;
        transition: .7s all ease-in-out;
      }
    }

    rect, circle, ellipse, polygon {
      fill: $gcolor5;
      stroke: $graphBorder;
      stroke-width: 1px;
      transition: .7s all ease-in-out;
    }
  }

  .edgePath {
    &.highlighted {
      .path {
        stroke: $highlightEdge;
      }

      .arrowheadPath {
        fill: $highlightEdge;
      }
    }

    .path {
      stroke: $graphBorder;
      stroke-width: 1.5px;
      transition: .7s all ease-in-out;
    }

    .arrowheadPath {
      fill: $graphBorder;
      transition: .7s all ease-in-out;
    }
  }

  .edgeLabel {
    background-color: $gcolor4;
  }

  div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 12px;
    background: $gcolor5;
    border: 1px solid $gcolor5;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
  }
}
