/* generic theme */
$gcolor1: rgba(43, 65, 65, 1);
$gcolor2: rgba(14, 177, 210, 1);
$gcolor3: rgba(52, 228, 234, 1);
$gcolor4: rgba(138, 185, 181, 1);
$gcolor5: rgb(230, 230, 230);

/* graph */
$graphBorder: rgba(54, 102, 160, 1);
$graphText: rgba(0, 56, 99, 1);
$graphBg: rgb(217, 215, 230);

/* highlighted */
$highlight2: rgba(250, 194, 77, 1);
$highlightBg: rgba(255, 178, 56, 1);
$highlightBorder: rgba(241, 145, 67, 1);
$color4: rgba(255, 119, 61, 1);
$highlightEdge: rgba(245, 85, 54, 1);