.graph-container {
  height: 100%;
}

.class-view, .method-view {
  display: block;
  width: 100%;
  overflow: scroll;
  position: relative;
  overflow: scroll;
}

.class-view {
  padding: 4rem 2rem 2rem;
  user-select: none;

  p {
    margin-bottom: 2rem;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid $gcolor5;
    position: absolute;
    right: 0;
    display: none;
  }

  .systemDiv {
    margin: auto;

    .classGroup {
      cursor: pointer;
    }
  }
}
.method-view {
  padding: 2rem;
  user-select: none;

  &> .classDiv {
    opacity: 0;
    position: absolute;
    margin: auto;
    width: 90%;
    height: 100%;
    transition: .2s opacity ease-in-out;

    svg {
      max-height: 80%;
    }

    &.show {
      opacity: 1;
    }
  }
}