.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 3rem;
  background-color: $graphBorder;
  align-content: center;
  justify-content: space-between;
  z-index: 999;

  h1 {
    color: #fff;
    margin: auto 2rem;
    height: 2rem;
    width: 30%;
  }

  &__view-test {
    margin: auto 2rem;
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    select {
      background-color: $gcolor5;
      color: $gcolor1;
      font-size: inherit;
      padding: .5em;
      padding-right: 2.5em;
      min-width: 10rem;
      border: 0;
      margin: 0;
      border-radius: 3px;
      text-indent: 0.01px;
      text-overflow: '';
      /*Hiding the select arrow for firefox*/
      -moz-appearance: none;
      /*Hiding the select arrow for chrome*/
      -webkit-appearance:none;
      /*Hiding the select arrow default implementation*/
      appearance: none;
    }
    /*Hiding the select arrow for IE10*/
    select::-ms-expand {
        display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    &::after { /*  Custom dropdown arrow */
      content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
      color: rgba(0,0,0,.6);
    }

    &::before { /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
      background-color: rgba(0,0,0,.2);
    }

    & select[disabled] {
      color: rgba(0,0,0,.25);
    }
  }
}